N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
N8N_PROTOCOL=https
N8N_PORT=5678
WEBHOOK_URL=https://<your-domain>
N8N_HOST=0.0.0.0
N8N_SECURE_COOKIE=true
GENERIC_TIMEZONE=Asia/Hong_Kong
TZ=Asia/Hong_Kong
